.student-image{
    width:90px;
    height:90px;
   
}

.students-card{
    display:flex;
    padding:10px;
    border:2px solid #111827;
    border-radius: 10px;
    background-color: #F9FAFB;
    min-width: 0;
    max-width:100%;
    overflow:hidden;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.students-card:hover{
    background-color: #e5e5e5;
    transform: scale(1.03);
}
.icon{
    width:15px;
    height:20px;
}
.student-description{
    min-width:0;
    overflow:hidden;
}
.student-description p{
    font-size:15px;
    display:flex;
    gap:2px;
    color:#374151;
    overflow-wrap: anywhere;
}
.student-description h3{
    color:#111827;
    
}
/*Responsive code */
@media (max-width:380px){

 .students-card{
        padding:10px;
    }

    .student-image{
        width:70px;
        height:70px;
    }

    .student-description h3{
        font-size:16px;
        margin:5px 0;
    }

    .student-description p{
        font-size:12px;
        margin:4px 0;
    }
    
    .icon{
        width:13px;
        height:16px;
    }
}